<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <!-- <script> htmx.logAll() </script> -->
        <h1>Chatroom</h1>
        <div id="app">
            <div v-if="!connected">
                <label>Server name: </label>
                <input v-model="brokerUrl">
                <button @click="establishNewSTOMPConnection">Connect</button>
            </div>
            <div v-if="connected">
                <div id="form">
                    <input v-model="message" @keyup.enter="sendMessage">
                    <button @click="sendMessage">Send</button>
                </div>
                <div id="messages">
                    <p v-for="msg in messages" :key="msg.message"><b>{{msg.name}}:</b> {{msg.message}}</p>
                </div>
            </div>
        </div>
        <script src="js/index.js"></script>
    </body>
</html>